.nav-link{
    color:white;
}
.conteiner-fluid{
    display: flex;
}


.card-img-overlay{
    justify-content:end; 
    align-items: end;
    text-align: end;
    padding: 25rem;
    padding-right: 3rem;
    padding-left: 40rem;
    
}

.img-responsive {
    max-width: 100%;
    height: auto;
    display: block;
    padding-right: -15rem;
}

.cuadro-negro{
    background-color: rgba(0, 0, 0, 0.664);
    color: white;
    padding: 20px;
    height: auto;
}
.cuadro-titulo{
    text-align:start;
}
    

.center{
    padding-top: 2rem;
    
    text-align: center;
}
.center2{
    padding-top: -1rem;
    text-align:center;
    
}

.form-conteiner{
    padding: 10rem;
    margin-top: -10rem;
    padding-left: 15rem;
    padding-right:15rem;
    margin-bottom:-9rem;
    align-items: center;
    
}

textarea{
    margin-top:1rem;
}
.coment{
    padding-left: 16rem;
    padding-right:16rem;
}

.form-floating{
    width: 100%;
    padding: 10rem;
    margin-top: -5rem;
    padding-left: 16rem;
    padding-right:16rem;
    
}


#boton{
    
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color:rgb(144, 216, 35);
    border-color:rgb(144, 216, 35) ;
 }

footer{
    background-color: #0c274ea9;
    color: white; 
    padding:20px; 
    text-align: center; 
}

.footer-container{
    margin-top:1rem;
    display: flex;
    justify-content: center;
    height: 6rem;
    margin-bottom:0;
   
}



.footer-item {
    display: inline-block; 
    margin:  40px; 
    text-align: center; 
    margin-top:1rem

}